* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}

section h1 {
    color: orange;
    text-align: center;
    margin: 15px;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}

section {
    margin-top: 20%;
}

section img {
    width: 170px;
    height: 170px;
    border-radius: 100%;
}

p {
    display: inline;
    text-align: center;
}

nav img {
    width: 100px;
    height: 50px;
}
nav {
    display: flex;
    background: #696969;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

nav ul li a {
    color:thistle;
    margin-right: 20px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: url("11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color:white;
}

#article-list {
    margin-left: 30%;
    margin-right: 30%;
    color: white;
}

article {
    padding:15px;
    border-radius: 7px;

    margin-bottom: 20px;
    background: #696969;

}

article:last-child {
    margin-bottom: 0px;
}

article a h3 {
    color: black;
    margin-bottom: 8px
}

footer h5 {
    text-align: center
}

footer {
    padding: 50px;
}

.social-media {
    display: flex;
    width: 170px;
    margin: 50px auto;
    flex-direction: column;
}

.social-media .icon-social {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.social-media .icon-social img {
    width: 30px;
    height: 30px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.conten-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
