  * {
      text-decoration: none;
      font-family:'Times New Roman', Times, serif;
  }

  .header {
    list-style-type: none;
    width: 20%;
    background-color: #212121 ;
    position: fixed;
    height: 100%;
    overflow: auto;
  } 

  .container {
    margin-left:18%;
    padding:1px 16px;
    height:100%;
    width: auto;
  }

  .foto img {
    width: 130px;
    height: 130px;
    border-radius: 70px;
  }

  .foto {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  body {
      margin: 0;
    }
  
  ul {
    margin-left: -50px;
    list-style-type: none;
  }

  li a {
    font-size: 18px;
    display: block;
    color: white;
    padding: 8px 16px;
    padding-bottom: 20px;
    text-decoration: none;
  }

  li a img {
    margin-bottom: -10px;
  }

  li a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  a img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  #Nama h3 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
    color: #e0e0e0;
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  #Nama h4 {
    display: flex;
    justify-content: center;
    color: #e0e0e0;
    margin-bottom: 50px;
    font-family: monospace;
    font-size: 15px;
  }

  .bio {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    padding: 15px 15px;
  }

  .bio h1 {
    color: #757575;
    border-bottom: 2px solid #bdbdbd;
    font-size: 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .bio p {
    margin-top: 20px;
    font-family: 'Sulphur Point', sans-serif;
  }

  .bio img {
    margin-top: 55px;
    height: 50%;
    width: 50%;
  }

  .card {
    background-color: #e0e0e0 ;
    width: 105%;
    height: 50%;
  }
  
  .tulisan {
    margin-left: 40px;
  }